a:link, a:visited{
	padding: 14px 25px;
	background-color: orange;
	display:inline-block;
	border-radius: 15px;
	color: teal;
}
a:hover, a:active{
	text-decoration: underline;
	background-color: purple;
	color: white;
}
