body{
  text-align: center;
  background-color:lightblue;
}
table,tr,th,td{
  text-align: center;
  border: 1px solid black;
}
ul{
  list-style-type:none;
  line-height: 2.5em;
}
.specials{
  list-style-type:none;
  line-height: 0;
}
