body{
  text-align: center;
  background-color:lightblue;
}
.menu{
  text-align: center;
  border: 1px solid black;
}
#LeftCone{
	position: absolute;
	top: 25px;
	left:200px;
}
#RightCone{
	position:absolute;
	top: 25px;
	right:200px;
}
#banner{
	top: 50px;
}
ul{
  list-style-type:none;
  line-height: 20px;
}
.specials{
  list-style-type:none;
  line-height: 0;
}
.links{
  border:0px;
}
a:link,a:visited{
	padding: 14px 25px;
	background-color: darkSeaGreen;
	display: inline-block;
	border-radius:15px;
	color: FloralWhite;	
}
a:hover, a:active{
	text-decoration:underline;
	background-color:FloralWhite;
	color:darkSeaGreen;
}
